{% extends "layout_body.html" %}

{% block content %}
    <main role="main">
        <div class="container">
            {% if message %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            <div class="card-columns">
                {% set weekday_list = ['月', '火', '水', '木', '金', '土', '日', ] %}
                {% for event, event_attend_user, presentation in event_attend_user_list %}
                    <div class="card">
                        {% if event.url %}
                            <div class="card-header">
                                <a href="{{ event.url }}" class="text-info" target="_blank">{{ event.name }}&nbsp;&nbsp;<i class="fas fa-external-link-alt"></i></a>
                            </div>
                        {% else %}
                            <div class="card-header">{{ event.name }}</div>
                        {% endif %}
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">開催日程：</dt>
                                {% for d in event.date %}
                                    {% if loop.first %}
                                        <dd class="col-sm-8">{{ d.strftime('%Y年%m月%d日') }}（{{ weekday_list[d.weekday()] }}）</dd>
                                    {% else %}
                                        <dd class="col-sm-8 offset-sm-4">{{ d.strftime('%Y年%m月%d日') }}（{{ weekday_list[d.weekday()] }}）</dd>
                                    {% endif %}
                                {% endfor %}
                                <dt class="col-sm-4">発表申込締切：</dt>
                                <dd class="col-sm-8">{{ event.presenting_papers_period.strftime('%Y年%m月%d日') }}（{{ weekday_list[event.presenting_papers_period.weekday()] }}）</dd>
                                <dt class="col-sm-4">参加申込締切：</dt>
                                <dd class="col-sm-8">{{ event.attend_period.strftime('%Y年%m月%d日') }}（{{ weekday_list[event.attend_period.weekday()] }}）</dd>
                                <dt class="col-sm-4">開催形式：</dt>
                                <dd class="col-sm-8">{{ event.event_form.label }}</dd>
                            </dl>
                            <form method="post">
                                {# <input type="hidden" name="event_id" value="{{ event.id }}" /> #}
                                {% if event_attend_user and not event_attend_user.cancel %}
                                    <button type="submit" class="btn btn-info" formaction="/event/info" name="event_id" value="{{ event.id }}">参加内容を確認
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-info" formaction="/event/info" name="event_id" value="{{ event.id }}">参加申込</button>
                                {% endif %}
                                {% if presentation and not presentation.is_cancel %}
                                    <button type="submit" class="btn btn-info" formaction="/event/presentation/list" name="event_id" value="{{ event.id }}">発表内容を確認</button>
                                {% elif event_attend_user and not event_attend_user.cancel %}
                                    <button type="submit" class="btn btn-info" formaction="/event/presentation/register/input" name="event_id" value="{{ event.id }}">発表申込</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </main>

{% endblock %}