{% extends "layout_signup.html" %}

{% block content %}

    <div class="pt-5 pb-0 text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename = 'images/logo-2xplus.png') }}" alt="logo"
             height="72">
        <h2>アカウント認証</h2>
        <hr class="mb-4">
        <p class="lead">アカウント認証が完了いたしました．</p>

        <p><a href="/login">全国大会 参考登録ページにログインする</a></p>
    </div>

{% endblock %}

{% block js %}
    <script>
        // 不要なヘッダーを隠す
        $("header").hide();
    </script>
{% endblock %}