{% extends "layout_body.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/floating-labels.css') }}">
{% endblock %}

{% block body %}

    <form class="form-signin needs-validation" action="/change-password" method="post" novalidate oninput='validateForm()'>
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ url_for('static', filename = 'images/logo-2xplus.png') }}" alt="logo" height="72">
            {% if user %}
                <p class="lead">{{ user.user_profile.last_name }} {{ user.user_profile.first_name }} 様</p>
            {% endif %}
            {% if message %}
                <p id="message" class="alert {{ alerts }}" role="alert">{{ message }}</p>
            {% endif %}
        </div>

        {% if state == "change-password-success" %}
            <p><a href="/login" class="text-info">マイページにログインする</a></p>
        {% elif user %}
            <div class="form-label-group">
                <input type="password" id="password1" class="form-control" name="password1" placeholder="パスワード" value="" required >
                <label for="password1">パスワード</label>
                <div class="invalid-feedback">
                    パスワードを入力してください．
                </div>
            </div>

            <div class="form-label-group">
                <input type="password" id="password2" class="form-control" name="password2" placeholder="確認用パスワード" value="" required >
                <label for="password2">確認用パスワード</label>
                <div class="invalid-feedback">
                    パスワードが一致していません．
                </div>
            </div>
            <input type="hidden" id="email" name="email" value="{{ user.email }}">
            <button class="btn btn-lg btn-info btn-block" type="submit">パスワードを変更する</button>
        {% else %}
            <hr/>
            <p><a href="/reset-password" class="text-info">再度パスワードリセット用のリンクを取得するにはこちら</a></p>
        {% endif %}

        <hr/>

        <footer class="pt-2 text-muted text-center small">
            &copy; 2020 Japanese Association for Education of Information Studies.
        </footer>
    </form>

{% endblock %}

{% block js %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        const password1 = document.getElementById("password1");
        const password2 = document.getElementById("password2");

        function validateForm() {
            password2.setCustomValidity(password2.value != password1.value ? "パスワードが一致していません．" : "")
        }
    </script>
{% endblock %}