{% extends "layout_body.html" %}

{% block content %}
    <main role="main">
        <div class="container">
            <div class="pt-3">
                <div class="card mb-3">
                    <div class="card-header">お知らせ</div>
                    <div class="card-body">
                        <h5 class="card-title">2021.05.12&nbsp;全国大会 参加申込と発表申込の受付を開始しました．</h5>
                        <p class="card-text"><a href="/event/list" class="text-info">本リンク</a>からお申し込みください．</p>
{#                        <hr />#}
{#                        <h5 class="card-title">2020.09.15&nbsp;全国大会 参加申込の受付を開始しました．</h5>#}
{#                        <p class="card-text"><a href="/event/list" class="text-info">本リンク</a>からお申し込みください．</p>#}
                        {#                    <h5 class="card-title">2020.09.15&nbsp;講演申込・原稿投稿の受付を開始しました．</h5>#}
                        {#                    <p class="card-text"></p>#}
                    </div>
                </div>

                <h2></h2>
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
                {#        <p class="mb-5">hogehoge</p>#}
            </div>
        </div>
    </main>

{% endblock %}