{% extends "layout_html.html" %}

{% block body %}
    <div class="container">

        {% block content %}

        {% endblock %}

        <hr class="mt-4 mb-0">

        <footer class="py-2">
            <span class="text-muted small">
                &copy; 2020 Japanese Association for Education of Information Studies.&nbsp;
                <a class="pl-5" href="http://jaeis.org/" target="_blank">JAEIS ホームページ</a> ｜
                プライバシーポリシー｜
                サイトマップ
            </span>
        </footer>

    </div>
{% endblock %}