{% extends "layout_body.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/floating-labels.css') }}">
{% endblock %}

{% block body %}

    <form class="form-signin" action="/reset-password" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ url_for('static', filename = 'images/logo-2xplus.png') }}" alt="logo" height="72">
            {% if message %}
                <p id="message" class="alert {{ alerts }}" role="alert">{{ message }}</p>
            {% endif %}
        </div>

        {% if state == "send-link" %}
            <p class="alert alert-light" role="alert">
                メールを確認してパスワードをリセットしてください．<br />
                しばらくしてもメールが届かない場合は，メールアドレスの入力ミスや受信フィルタ設定などが原因として考えられます．
            </p>
        {% else %}
            <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
                <label for="inputEmail">メールアドレス</label>
            </div>

            <button class="btn btn-lg btn-info btn-block" type="submit">パスワードリセット用リンクの送信</button>
        {% endif %}

        <hr/>

        <footer class="pt-2 text-muted text-center small">
            &copy; 2020 Japanese Association for Education of Information Studies.
        </footer>
    </form>

{% endblock %}

{% block js %}
    <script>
        if (!$("#message").text()) {
            $("#message").hide();
        }
    </script>
{% endblock %}